html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #2e2e2e;
  background: #fafafa;
}

header {
  background-color: #eef6f9;
  padding: 2rem 1rem;
  text-align: center;
}

.hero-section {
  background-image: url('https://images.unsplash.com/photo-1553044707-b710ee53ffbd?q=80&w=1205&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%; 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.8em 2em 4em 2em;
  color: black;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
  border-radius: 0.2rem;
  text-align: center;
}

.hero-content {
  margin-top: 0.2em;
  max-width: 60ch;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.0rem;
  text-decoration: underline;
}

h2 {
  margin: 1.5rem 0 0.15rem;
}

p {
    margin: 0.1em 0 1em;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.intro {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1rem;
  color: black;
  margin-top: 0.2rem;
}

main {
  padding: 2rem 1rem;
  max-width: 800px;
  margin: auto;
  padding-top: 0.3rem;
}

section {
  margin-bottom: 2.2rem;
}

ul, ol {
  padding-left: 1.5rem;
}

ul li, ol li {
  margin-bottom: 0.5rem;
}

blockquote {
  margin: 1rem 0;
  padding-left: 1rem;
  border-left: 4px solid #ccc;
  color: #555;
}

.cta {
  background: #f0f9f0;
  border-left: 6px solid #4caf50;
  border-right: 6px solid #4caf50;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  text-align: center;
}

.cta h2 {
  margin-top: 0.2rem;       
  padding-top: 0.2rem;      
}

a.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  margin: 1rem 0;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

a.button:hover {
  background-color: #3e8e41;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #888;
}

.tight-spacing {
  margin: 0.1em 0;
}

.footer-link, .email{
  color: inherit;
  text-decoration: underline;
}

.footer-link:hover, .email:hover {
  color: #0066cc;
  text-decoration: underline;
}

@media (max-width: 430px) {
  .hero-section {
    background-position: center 40%;
    background-size: cover;
    padding: 2em 1em;
  }

  .hero-section h1 {
    font-size: 2rem;
    transform: translateY(12px);
  }

  .hero-section p {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .hero-section {
    background-position: top 30%;
    padding-top: 8em;
    padding-bottom: 6em;
  }
  .hero-section h1 {
    font-size: 3rem;
    margin-bottom: 1.0rem;
    margin-top: 0;
    transform: translateY(-50px);
  }
  .hero-section p {
    transform: translateY(-50px);
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
}
